{
    "presets": [
        ["modern-browsers", {
            "modules": false
        }],
        "@babel/preset-stage-3"
    ],
    "plugins": [
        "transform-vue-jsx",
        "lodash"
    ]
}
