{
  "extends": ["standard"],
  "plugins": ["html"],
  "settings": {
    "html/indent": "0",
    "html/report-bad-indent": "error"
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}
