{
  "extends": ["standard"],
  "plugins": ["html"],
  "settings": {
    "html/indent": "0",
    "html/report-bad-indent": "error"
  },
  "rules": {
    "indent": ["error", 4],
    "prefer-const": ["warn"]
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}
